@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

$yellow:yellow;
$light-yellow:rgb(253, 253, 115);
$light-color:#777;
$light-white:#eee;
$black:#444;
$white:#fff;
$border:.1rem solid $yellow;
$box-shadow:0.5rem 1 rem rgba(0,0,0,.1);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: black;
}

@mixin graphText($graphSize){
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background: $yellow;
    }
}

.head{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.head .logo{
    margin-right: auto;
    @include titleText(2.5rem);
    font-weight: bolder;
}

.head .logo i{
    color: $yellow;
}

.navbar a{
    margin-right: 2rem;
    @include titleText(2rem);
}

.navbar a:hover{
    color: $yellow;
}

#account-btn,
#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    color: $black;
}

#account-btn:hover,
#menu-btn:hover{
    color: $yellow;
}
