@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: yellow;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid yellow;
  background: #777;
  color: yellow;
  cursor: pointer;
}
.btn:hover {
  background: yellow;
  color: #fff;
}

.head {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0.5rem 1 rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.head .logo {
  margin-right: auto;
  font-size: 2.5rem;
  text-transform: capitalize;
  color: black;
  font-weight: bolder;
}

.head .logo i {
  color: yellow;
}

.navbar {
  position: relative;
}
.navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}
.navbar #close-navbar:hover {
  transform: rotate(90deg);
}

.navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: black;
}

.navbar a:hover {
  color: yellow;
}

#account-btn,
#menu-btn {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 2rem;
}

#account-btn:hover,
#menu-btn:hover {
  color: yellow;
}

#menu-btn {
  display: none;
}

.account-form {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: #fff;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  justify-content: center;
  height: 100%;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  z-index: 1200;
  padding: 2rem;
}

.account-form #close-form {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
}
.account-form #close-form:hover {
  transform: rotate(90deg);
}

.account-form form {
  border: 0.1rem solid yellow;
  padding: 2rem;
  text-align: center;
}

.account-form form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: black;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.account-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  margin: 0.7rem 0;
  border: 0.1rem solid yellow;
}

.account-form form .flex {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account-form form .flex label {
  font-size: 1.5rem;
  color: #777;
  cursor: pointer;
}

.account-form form .flex a {
  font-size: 1.5rem;
  color: #777;
  margin-left: auto;
}
.account-form form .flex a:hover {
  text-decoration: underline;
  color: yellow;
}

@media (max-width: 1200px) {
  .head {
    padding: 2rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .head {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .head #menu-btn {
    display: inline-block;
  }
  .head .navbar {
    position: fixed;
    top: 0;
    right: 30%;
    width: 30rem;
    background: #fff;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1200;
  }
  .head .navbar #close-navbar {
    display: block;
  }
  .head .navbar.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .head .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}/*# sourceMappingURL=style.css.map */