@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

img{
    user-select: none;
}

$yellow:rgb(255, 136, 0);
$light-yellow:rgb(253, 253, 115);
$light-color:#777;
$light-white:#eee;
$black:#444;
$white:#fff;
$border:.1rem solid $yellow;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

@mixin grid($val){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: black;
}

@mixin graphText($graphSize){
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background: transparent;
    }

    &::-webkit-scrollbar-thumb{
        background: $yellow;
    }
}

section{
    padding: 5rem 10%;
}

.heading-link{
    text-align: center;
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    h3{
        @include titleText(4rem);
    }

    p{
        @include graphText(2rem);

        a{
            color: $yellow;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
    @include titleText(3.5rem);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: $border;
    background: $white;
    color: $yellow;
    cursor: pointer;
    text-transform: capitalize;

    &:hover{
        background: $yellow;
        color: $white;
        font-size: 2.1rem;
    }
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    box-shadow: $box-shadow;
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;

    .logo{
        margin-right: auto;
        @include titleText(2.5rem);
        font-weight: bolder;

        i{
            color: $yellow;
        }
    }

    .navbar {
        position: relative;

        #close-navbar{
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            font-size: 4rem;
            cursor: pointer;
            color: $black;
            display: none;

            &:hover{
                transform: rotate(90deg);
            }
        }

        a{
            margin-right: 2rem;
            @include titleText(2rem);
    
            &:hover{
                color: $yellow;
            }
        }
    }

    .icons div{
        cursor: pointer;
        font-size: 2.5rem;
        color: $black;
        margin-left: 1.5rem;

        &:hover{
            color: $yellow;
        }
    }

    #menu-btn{
        display: none;
    }
}

.account-form{
    position: fixed;
    top: 0;
    right: 105%;
    width: 35rem;
    background: $white;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;

    &.active{
        box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
        right: 0;
    }

    #close-form{
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        font-size: 4rem;
        cursor: pointer;
        color: $black;

        &:hover{
            transform: rotate(90deg);
        }
    }

    form{
        border: $border;
        padding: 2rem;
        display: none;

        &.active{
            display: block
        }

        h3{
            @include titleText(2.5rem);
            padding-bottom: .5rem;
            text-transform: uppercase;
        }

        .box{
            width: 100%;
            border: $border;
            padding: 1.2rem 1.4rem;
            font-size: 1.6rem;
            margin: .7rem 0;
        }

        .flex{
            padding: 1rem 0;
            display: flex;
            align-items: center;
            gap: .5rem;

            label{
                font-size: 1.5rem;
                color: $light-color;
                cursor: pointer;
            }

            a{
                font-size: 1.5rem;
                color: $light-color;
                margin-left: auto;

                &:hover{
                    text-decoration: underline;
                    color: $yellow;
                }
            }
        }

        .btn{
            width: 100%;
        }
    }

    .buttons .btn{
        margin: 0 .8rem;

        &.active{
            background: $yellow;
            color: $white;
        }
    }
}

.home{
    padding: 0;

    .swiper-slide{
        display: flex;
        align-items: center;
        height: 60rem;
        background-size: cover !important;
        background-position: center !important;

        .content{
            width: 50rem;

            h3{
                @include titleText(5rem);
                color: $white;
            }

            p{
                @include graphText(1.6rem);
                color: $light-white;
                padding: 3rem 0;
            }
        }
    }
}


// .swiper-pagination-bullet-active {
//     opacity: var(--swiper-pagination-bullet-opacity, 1);
//     background: yellow;
// }

.subjects{
    .box-container{
        @include grid(15rem);

        .box{
            padding: 3rem 2rem;
            text-align: center;
            border: $border;
            cursor: pointer;

            &:hover{
                // width: 170px;
                // height: 180px;
                transition: .5sec ease-in-out;
                background: $light-yellow;

                h3{
                    @include titleText(2rem); 
                }
            }

            img{
                height: 8rem;
                margin-bottom: .5rem;
            }

            h3{
                @include titleText(1.5rem);
                padding: .5rem 0;   
            }

            p{
                @include titleText(1.5rem);
            }
        }
    }
}

.home-courses{
    .slide{
        text-align: center;
        position: relative;
        background: $light-yellow;
        overflow: hidden;

        &:hover .content{
            bottom: 0;
        }

        .image{
            padding: 2rem;

            img{
                width: 100%;
                margin-bottom: 1.5rem;
            }

            h3{
                @include titleText(2rem);
            }
        }

        .content{
            position: absolute;
            bottom: 100%;
            right: 0;
            left: 0;
            background: $yellow;
            padding: 1rem 2rem;

            h3{
                @include titleText(2rem);
                color: $white;
            }

            p{
                @include graphText(1.5rem);
                padding: .5rem 0;
                color: $light-white;
            }

            .btn:hover{
                background: $black;
            }
        }
    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;

    .image{
        flex: 1 1 40rem;

        img{
            width: 100%;
        }
    }

    .content{
        flex: 1 1 40rem;

        .about-title{
            @include titleText(4rem);
        }

        p{
            @include graphText(1.5rem);
            padding: .5rem 0;
        }      

        .icons-container{
            margin-top: 1rem;
            @include grid(15rem);

            .icons{
                text-align: center;
                padding: 2rem 1rem;
                border: $border;
                background: $light-yellow;

                img{
                    height: 5rem;
                    margin-bottom: .3rem;
                }

                h3{
                    padding: .3rem 0;
                    @include titleText(2rem)
                }

                span{
                    @include graphText(1.5rem)
                }
            }
        }
    }
}

.teachers{
    .slide{
        text-align: center;

        &:hover{
            .image{
                img{
                    background: $yellow;
                }

                .share{
                    bottom: 0;
                }
            }
        }

        .image{
            position: relative;
            overflow: hidden;

            img{
                background: $light-yellow;
                width: 100%;
            }

            .share{
                position: absolute;
                bottom: -10rem;
                left: 0;
                right: 0;
                background: rgba(0,0,0,.8);
                padding: 2rem;

                a{
                    font-size: 2rem;
                    margin: 0 1rem;
                    color: $white;

                    &:hover{
                        color: $yellow;
                        font-size: 2.5rem;
                    }
                }
            }
        }

        .content{
            display: flex;
            padding-top: 1rem;
            align-items: center;
            justify-content: space-between;

            h3{
                @include titleText(2rem);
            }

            span{
                @include graphText(1.5rem);
            }
        }
    }
}


.reviews{
    .slide{
        text-align: center;

        p{
            @include graphText(1.5rem);
            position: relative;
            background: $light-yellow;
            border: $border;
            margin-bottom: 3rem;
            padding: 2rem;
            user-select: none;

            &::before{
                content: '';
                position: absolute;
                bottom: -1.2rem;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                background: $light-yellow;
                border-bottom: $border;
                border-right: $border;
                height: 2rem;
                width: 2rem;
            }
        }

        img{
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            object-fit: cover
        }

        h3{
            @include titleText(1.7rem);
            padding: .5rem 0;
        }

        .stars{
            font-size: 1.5rem;
            color: $yellow;
        }
    }
}



.courses{
    .box-container{
        @include grid(30rem);

        .box{

            &:hover .image {
                img{
                transform: scale(1.1);
                }

                h3{
                    @include titleText(1.5rem);
                    position: absolute;
                    top: 1rem;
                    left: 1.5rem;
                    padding: .5rem 1.5rem;
                    background: $white;
                }
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }   

               
            }

            .content{
                padding: 2rem;
                text-align: center;
                border: $border;

                h3{
                    @include titleText(2rem);
                }

                p{
                    padding: 1rem 0;
                    @include graphText(1.5rem);
                }

                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 2rem;
                    padding: 2rem;
                    border-top: $border;

                    span{
                        @include titleText(1.5rem);

                        i{
                            color: $yellow;
                            padding-right: .5rem;
                        }
                    }
                }
            }
        }
    }

    .load-more{
        margin-top: 2rem;
        text-align: center;
    }
}


.contact{
    .icons-container{
        @include grid(20rem);
        margin-bottom: 3rem;

        .icons{
            text-align: center;
            padding: 3rem 2rem;
            border: $border;
            background: $light-yellow;

            i{
                height: 6rem;
                width: 6rem;
                line-height: 6rem;
                font-size: 2rem;
                border-radius: 50%;
                margin-bottom: .5rem;
                color: $white;
                background: $yellow;
            }

            h3{
                @include titleText(2rem);
                padding: .5rem 0;
            }

            p{
                @include graphText(1.5rem);
            }
        }
    }

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .image{
            flex: 1 1 40rem;

            img{
                width: 100%;
            }
        }

        form{
            flex: 1 1 40rem;
            border: $border;
            padding: 2rem;

            h3{
                @include titleText(2.5rem);
                padding-bottom: 1rem;
            }

            .box{
                width: 100%;
                padding: 1.2rem 1.4rem;
                border: $border;
                font-size: 1.6rem;
                margin: .7rem 0;
            }

            textarea{
                height: 13rem;
                resize: none;
            }
        }
    }
}


.faq{
    .accordion-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: flex-start;

        .accordion{
            flex: 1 1 40rem;
            border: $border;

            &.active{
                .accordion-heading{
                    background: $yellow;

                    h3{
                        color: $white;
                    }

                    i{
                        color: $white;
                        transform: rotate(180deg);
                    }
                }

                .accordion-content{
                    display: block;
                }
            }

            .accordion-heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                cursor: pointer;
                padding: 1.5rem;

                h3{
                    @include titleText(2rem)
                }

                i{
                    font-size: 2rem;
                    color: $yellow;
                }
            }

            .accordion-content{
                padding: 1.5rem;
                @include graphText(1.5rem);
                border-top: $border;
                display: none;
            }
        }
    }
}






.footer{
    background: $light-yellow;

    .box-container{
        @include grid(23rem);

        .box{
            h3{
                @include titleText(2.2rem);
                padding: 1rem 0;

                i{
                    color: $yellow
                }
            }

            .share{
                margin-top: 1rem;

                a{
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    font-size: 2.4rem;
                    // background-color: $yellow;
                    color: $yellow;
                    // margin-right: .2rem;
                    text-align: center;

                    &:hover{
                        color: $white;
                        font-size: 3rem;
                        animation: .5s ease-in-out;
                    }
                }
            }

            .link{
                @include graphText(1.5rem);
                padding: .5rem 0;
                display: block;

                &:hover{
                    color: $yellow;
                    text-decoration: underline;
                }
            }

            p{
                @include graphText(1.5rem);
                padding: 1rem 0;
            }

            .email{
                width: 100%;
                padding: 1.2rem 1.4rem;
                font-size: 1.6rem;
                border: $border;
                margin-bottom: 1rem;
            }
        }
    }

    .credit{
        text-align: center;
        margin-top: 3rem;
        padding: 3rem;
        @include titleText(2rem);
        border-top: $border;
    }
}



// media queries

@media(max-width:1200px){
    .header{
        padding: 2rem 5%;
    }

    section{
        padding: 3rem 5%;
    }
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media(max-width:768px){
    .header{
        #menu-btn{
            display: inline-block;
        } 

        .navbar{
            position: fixed;
            top: 0;
            right: -105%;
            width: 30rem;
            background: $white;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            z-index: 1200;

            #close-navbar{
                display: block;
            }

            &.active{
                box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
                right: 0;
            }

            a{
                display: block;
                margin: 1rem 0;
                text-align: center;
                font-size: 3rem;
            }
        }
    }

    .home .slide .content{
        font-size: 2.4rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

    .about .content .about-title{
        font-size: 4rem;
    }
}